#slidebottom.slide
  %ul
    %li Menu item 1
    %li Menu item 2
    %li Menu item 3
  .inner
    %button menu button
    %br
    This is supposed to slide over.

    .right-aligned
      This would be on the far right.
    .span12
      %div.span6{style: "height:450px;"}
        = image_tag 'furniture.jpg'
